@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  font-size: 60px;
  color: #c2d869;
  padding-bottom: 60px;
}
.container {
  max-width: 35rem;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
.main {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  /* color: #ee4726; */
  color: #f4a34a;
}

nav {
  position: relative;
  background-color: #f4a34a;
  overflow: hidden;
  color: white;
  margin: 0px;
  padding: 10px;
  border-radius: 10px 10px 0px 0;
}
.nav-main {
  border-radius: 10px;
}
.nav-main a {
  color: white;
  padding-right: 20px;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.nav-main > a:hover {
  background-color: white;
  color: #f4a34a;
}

.nav.main a:active {
  color: black;
}
