.wrap {
    margin: 0 auto;
    max-width: 500px;
    padding-top: 100px;
}
.calculator-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #f4f4f4;
    /* background-color: #f4f4f4; */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px #aaaaaa;
}
.display {
    display: flex;
    flex-direction: row;
}
input {
    height: 50px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #aaa;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.math {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    height: 50px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    background-color: #aaaaaa;
}
button.equal {
    background-color: #ff0000;
}
button.equal:hover {
    background-color: crimson;
}
button.function {
    background-color: antiquewhite;
}
button.function:hover {
    background-color: bisque;
}
