.btn {
  margin: 20px;
  letter-spacing: 2px;
  position: relative;
  color: black;
  height: 90px;
  width: 200px;
  text-transform: uppercase;
  background-color: white;
  border: 1px solid black;
  z-index: 100;
  overflow: hidden;
}

.btn:before {
  position: absolute;
  content: "";
  text-transform: uppercase;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.rotate:before {
  background-color: yellow;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}
.rotate:hover:before {
  transform: rotate(0deg);
}
.swipe {
  transition: color 1s ease;
}
.swipe:before {
  background-color: violet;
  transform: translateX(-100%);
  transition: transform 1s;
}
.swipe:hover:before {
  transform: translateX(0);
}
.swipe:hover {
  color: white;
}
.cross {
  transition: color 1s ease;
}
.cross:before {
  background-color: black;
  transform: scaleX(0);
  transition: transform 1s;
}
.cross:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: black;
  left: 0;
  top: 0;
  z-index: -1;
  transform: scaleY(0);
  transition: transform 1s;
}
.cross:hover {
  color: white;
}
.cross:hover:before {
  transform: scaleX(100%);
}
.cross:hover::after {
  transform: scaleY(100%);
}
.bold {
  color: rgb(255, 0, 0);
  background-color: white;
  border: 1px solid rgb(255, 0, 0);
  letter-spacing: -1px;
  transition: all 1s ease;
}
.bold:hover {
  font-weight: 600;
  border: 3px solid rgb(255, 0, 0);
  letter-spacing: 2px;
}

.content:before {
  content: "YEAH!";
  color: white;
  background-color: violet;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content:hover:before {
  transform: translateY(0);
}
.glowing {
  transition: background-color 1s;
}
.glowing:hover {
  background-color: rgb(255, 0, 0);
}
.glowing:before {
  background-color: white;
  top: 25px;
  height: 25px;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.5s;
}
.glowing:hover::before {
  transform: translateX(100%) rotate(45deg);
}
.swape {
  background-color: black;
}
.swape::before {
  content: "Hover me";
  background-color: yellow;
  color: black;
  transform: translate(0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  z-index: 100;
}
.swape::after {
  content: "Hover me";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: yellow;
  color: black;
  left: 0;
  top: 0;
  transform: translate(-100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.swape:hover::before {
  transform: translate(100%, -100%);
}

.swape:hover::after {
  transform: translate(0, 0);
}

.textscale::before {
  content: "Button";
  z-index: 100;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  transform: scale(10);
  opacity: 0;
  transition: all 1s;
}

.textscale:hover::before {
  transform: scale(1);
  opacity: 1;
}
.circular {
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  transition: color 1s ease-out;
}
.circular::before {
  height: 0%;
  border-radius: 0 0 50% 50%;
  background-color: rgb(255, 0, 0);
  transition: all 1s;
}

.circular:hover::before {
  height: 190%;
}
.circular:hover {
  color: white;
}
.threelayers {
  background-color: forestgreen;
  overflow: visible;
}
.threelayers:before {
  content: "Button";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  transform-origin: top;
  transform: rotateX(270deg);
  transition: all 0.5s ease-in-out;
}
.threelayers:after {
  content: "Button";
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  transform-origin: top;
  transform: rotateX(270deg);
  z-index: -1;
  transition: all 0.5s 0.5s ease-in-out;
}
.threelayers:hover:before,
.threelayers:hover:after {
  transform: rotateX(0deg);
  /* z-index: 100; */
}

.layersswap {
  background-color: transparent;
  color: yellow;
  border-color: yellow;
  overflow: visible;
}

.layersswap:before {
  content: "Button";
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  opacity: 1;
}
.layersswap:after {
  content: "Button";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: gray;
  transition: all 0.5s;
  left: -100%;
  opacity: 0;
  transform: scale(0) rotateY(0);
}

.layersswap:hover:before {
  left: 100%;
  opacity: 0;
  transform: scale(0) rotateY(360deg);
}
.layersswap:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

.circles {
  border: 0;
  background-color: transparent;
  color: red;
  overflow: visible;
  transition: all 0.3s 0.3s;
}
.circles:before,
.circles::after {
  content: "";
  top: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.circles::before {
  box-shadow: -100px 0 0 red;
}
.circles::after {
  right: 0;
  box-shadow: 100px 0 0 red;
}

.circles:hover::before {
  left: 50%;
  box-shadow: 30px 0 0 red;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  opacity: 1;
}
.circles:hover::after {
  right: 50%;
  box-shadow: -30px 0 0 red;
  transform: translateX(50%) translateY(-50%);
  z-index: -1;
  opacity: 1;
}

.circles:hover {
  background-color: red;
  color: white;
  z-index: 100;
}
.hovereffect {
  border: 0;
  overflow: visible;
  color: white;
  transition: all 0.5s;
}
.hovereffect:before {
  background-color: aqua;
  /* left: -6px;
  top: -6px; */
  transition: all 0.5s;
  transform-origin: top;
  mix-blend-mode: multiply;
}
.hovereffect:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.604);
  left: 6px;
  top: 6px;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.5s;
  transform-origin: bottom;
}
.hovereffect:hover {
  color: black;
}
.hovereffect:hover::before {
  top: 9px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}
.hovereffect:hover::after {
  top: 9px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

.border {
  overflow: visible;
  border: none;
}
.border::before {
  height: 120%;
  top: -8%;
  border-left: 2px solid red;
  border-right: 2px solid rgb(0, 102, 255);
  transition: all 1s ease-in-out;
}
.border::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  left: -9%;
  top: 0;
  border-bottom: 2px solid red;
  border-top: 2px solid rgb(0, 102, 255);
  transition: all 1s ease-in-out;
}
.border:hover::before {
  transform: rotateY(180deg);
}

.border:hover::after {
  transform: rotateX(180deg);
}

.bordergrow {
  overflow: visible;
  background-color: coral;
  border: 0;
  color: white;
  z-index: unset;
}
.bordergrow::before {
  width: 24px;
  height: 24px;
  left: -5px;
  top: -5px;
  border-top: 1px solid coral;
  border-left: 1px solid coral;
  background-color: white;
  z-index: -99;
  transition: all 1s ease;
}
.bordergrow::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: -5px;
  bottom: -5px;
  z-index: -99;
  border-bottom: 1px solid coral;
  border-right: 1px solid coral;
  background-color: white;
  transition: all 1s ease;
}

.bordergrow:hover::before {
  width: 100%;
  height: 100%;
}
.bordergrow:hover::after {
  width: 100%;
  height: 100%;
}

.letterrotate {
  transition: all 0.2s ease-in-out;
  overflow: visible;
}
.letterrotate::before {
  background-color: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.letterrotate:hover::before {
  opacity: 1;
  transform: rotate(15deg);
}
.letterrotate:hover {
  color: white;
}
.letter {
  transition: all 0.2s ease;
}
.letter:hover {
  font-size: 60px;
  transform: rotate(360deg);
}

.letter {
  color: transparent;
  position: relative;
}

.letter::before {
  content: "B";
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
}

.letterrotate:hover .letter:before {
  font-size: 60px;
  transform: translate(-65%, -40%) rotate(360deg);
  color: white;
}

.fourborders {
  border: none;
}
.fourborders::before {
  left: -100%;
  top: 0;
  background-color: black;
  width: 100%;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

.fourborders:hover::before {
  left: 0;
}

.fourborders::after {
  right: -100%;
  content: "";
  position: absolute;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

.fourborders:hover::after {
  right: 0;
}

.four::before {
  left: 0;
  top: 100%;
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.fourborders:hover .four::before {
  top: 0;
}

.four::after {
  right: 0;
  content: "";
  position: absolute;
  bottom: 100%;
  background-color: black;
  width: 3px;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.fourborders:hover .four::after {
  bottom: 0;
}
.twoparts {
  border: none;
  overflow: visible;
  color: white;
  font-weight: 700;
}
.twoparts:before {
  background-color: aqua;
  transform: skewX(20deg) translateY(10%);
  width: 50%;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.twoparts:hover::before {
  background-color: aqua;
  transform: skewX(0deg) translateY(0);
  width: 50%;
  left: 50%;
  top: 0;
}

.twoparts:after {
  content: "";
  position: absolute;
  background-color: coral;
  transform: skewX(20deg) translateY(-10%);
  height: 100%;
  top: 5px;
  left: 51%;
  width: 50%;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.twoparts:hover::after {
  background-color: coral;
  transform: skewX(0deg) translateY(0);
  width: 50%;
  left: 0;
  top: 0;
}

.rounded {
  border: none;
  overflow: visible;
  border-radius: 50px;
  background-color: grey;
}

.rounden:hover {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.rounded::before {
  background-color: grey;
  border: none;
  border-radius: 50px;
  opacity: 1;
  transition: all 0.4s;
}

.rounded:hover::before {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
