.btn {
  margin: 10px;
}
.btn,
.rotate .swipe .cross .content .glowing .swape .textscale .circular {
  position: relative;
  perspective: 1000px;
  color: black;
  height: 90px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  z-index: 100;
  overflow: hidden;
}

.rotate:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: yellow;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}
.rotate:hover:before {
  transform: rotate(0deg);
}
.swipe {
  transition: color 1s ease;
}
.swipe:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-color: violet;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 1s;
}
.swipe:hover:before {
  transform: translateX(0);
}
.swipe:hover {
  color: white;
}
.cross {
  transition: color 1s ease;
}
.cross:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: black;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transition: transform 1s;
  z-index: -1;
}
.cross:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: black;
  left: 0;
  top: 0;
  z-index: -1;
  transform: scaleY(0);
  transition: transform 1s;
}
.cross:hover {
  color: white;
}
.cross:hover:before {
  transform: scaleX(100%);
}
.cross:hover::after {
  transform: scaleY(100%);
}
.bold {
  position: relative;
  color: rgb(255, 0, 0);
  height: 90px;
  width: 200px;
  background-color: white;
  border: 1px solid rgb(255, 0, 0);
  z-index: 100;
  overflow: hidden;
  letter-spacing: -1px;
  transition: all 1s ease;
}
.bold:hover {
  font-weight: 600;
  border: 3px solid rgb(255, 0, 0);
  letter-spacing: 2px;
}

.content:before {
  position: absolute;
  content: "YEAH!";
  color: white;
  left: 0;
  top: 0;
  background-color: violet;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  transform: translateY(-100%);
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content:hover:before {
  transform: translateY(0);
}
.glowing {
  transition: background-color 1s;
}
.glowing:hover {
  background-color: rgb(255, 0, 0);
}
.glowing:before {
  content: "";
  position: absolute;
  background-color: white;
  left: 0;
  top: 25px;
  width: 100%;
  height: 25px;

  transform: translateX(-100%) rotate(45deg);
  transition: all 0.5s;
}
.glowing:hover::before {
  transform: translateX(100%) rotate(45deg);
}
.swape {
  background-color: black;
}
.swape::before {
  content: "Hover me";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: yellow;
  color: black;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}
.swape::after {
  content: "Hover me";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: yellow;
  color: black;
  left: 0;
  top: 0;
  transform: translate(-100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.swape:hover::before {
  transform: translate(100%, -100%);
}

.swape:hover::after {
  transform: translate(0, 0);
}

.textscale::before {
  content: "Button";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  transform: scale(10);
  opacity: 0;
  transition: all 1s;
}

.textscale:hover::before {
  transform: scale(1);
  opacity: 1;
}
.circular {
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  transition: color 1s ease-out;
}
.circular::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  border-radius: 0 0 50% 50%;
  background-color: rgb(255, 0, 0);
  transition: all 1s;
  z-index: -1;
}

.circular:hover::before {
  height: 190%;
}
.circular:hover {
  color: white;
}
