body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first,
.second,
.third {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
}
/* first  */
.first img {
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 1;
  transition: all 0.5s;
}
.first img:hover {
  opacity: 0.5;
  transform: scale(1.3) rotate(15deg);
}
.first:before {
  content: "ahoj";
  position: absolute;
  color: rgb(1, 0, 0);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-transform: uppercase;
  top: 50%;
  left: 41%;
  transform-origin: left;
  opacity: 0;
  transition: all 0.5s;
}

.first:hover::before {
  opacity: 1;
}
/* second */
.second img {
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 1;
  transition: all 0.5s;
}
.second img:hover {
  opacity: 0.5;
  transform: scale(1.3) rotate(15deg);
}
.second:before {
  content: "ahoj";
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(-100%);
  transition: all 0.5s;
  z-index: 20;
}
.second::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 100%;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(-100%);
  transition: all 0.5s;
}

.second:hover::before {
  transform: translateX(0);
}
.second:hover::after {
  opacity: 0.5;
  transform: translateX(0);
}

/* third */
.third img {
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 1;
  transition: all 0.5s;
}
